
body {
    font-family: 'Chivo Mono', monospace;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  position: relative;
  background: rgb(82, 82, 82);
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}

.menu-main {
    padding: 0;
    margin: 0;
    list-style-type: none;
    transition: .3s linear;
 
}

.menu-main a:hover {background: rgba(0,0,0,.3);}
@media (max-width: 830px) {
.menu-main {
  padding-top: 90px;
  text-align: center;
}
}


.left-item {float: left;}
.right-item {float: right;}
.navbar-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-8%);
  }
  .navbar-logo img{
    width: 91px;

  }

  .navbar-oboy {
    position: absolute;
    left: 20%;
    top: 100%;
    transform: translate(-20%);
  }

  .navbar-oboy img {
    width: 1900px;
  }

  .navbar-fon {
    position: absolute;
    left: 50%;
    top: 1260px;
    transform: translateX(-50%);
  }

  .navbar-fon img {
    width: 1900px;
    height: 900px;
    position: relative;
  }

  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 75px;
    padding: 0 20px;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: .3s linear;
  }

  .menu-main:after {
    content: "";
    display: table;
    clear: both;
    transition: .3s linear;
  }

  @media (max-width: 630px) {
    .menu-main li {display: block;}
    }

    .container {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      top: auto;

    }

  .ccd {
    overflow: hidden;
    margin: 0px 0;
    position: relative;
    left: 41%;
}

a.ddott {
  display: block;
  text-transform: uppercase;
  line-height: 50px;
  height: 50px;
  width: 22%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 100px 0 #FFF,1px 76px 10px rgb(0, 0, 0);
  color: #FFF;
  background:  rgb(226, 185, 49);
  border-right: 2px solid  rgb(226, 185, 49);
  border-left: 2px solid  rgb(226, 185, 49);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}
a.ddott:hover {
  text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
  margin-top: -50px;
  height: 100px;
  background: rgb(240, 27, 27);
  border-right: 2px solid  rgb(240, 27, 27);
  border-left: 2px solid  rgb(240, 27, 27);
}






